* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

main {
  min-height: 100vh;
  background-color: skyblue;
}

main div {
  display: inline-block;
  cursor: grab;
  font-size: 8rem;
  transition: opacity 500ms;
}

p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  font-size: 3rem;
  font-weight: bold;
  pointer-events: none;
}

span {
  position: absolute;
  pointer-events: none;
}
